<div class="row">
  <div class="col-md-6 offset-md-3">
    <app-contact-form
      [h1Text]="'Añadir Contacto'"
      [contact]="contact"
      [submitText]="'Añadir'"
      (onSubmit)="save($event)"
    >
    </app-contact-form>
  </div>
</div>
