
<div class="example-container mat-elevation-z8">
  <div class="add">
  <a mat-button routerLink="/contacts/add">
    <i class="material-icons">add_circle</i>
    Nuevo contacto
  </a>
</div>
  <mat-table #table [dataSource]="dataSource" matSort>



    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let contact"> <i class="fas fa-user-circle"></i>&nbsp;&nbsp;{{contact.name}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.email}}</mat-cell>
    </ng-container>

    <!-- Telephone Column -->

    <ng-container matColumnDef="telephone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.telephone}}</mat-cell>
    </ng-container>
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let contact">


            <a mat-button
              [routerLink]="['/contacts','update',contact.id]">
              <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Editar
            </a>
          <button mat-button (click)="deleteContact(contact)" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Borrar
          </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
