.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 1200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.add{
  padding: 20px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}


