.example-container {
  display: flex;
  flex-direction: column;

}
.container{
  width: 400px;
  margin-left:auto;
  margin-right: auto;
 }
.back{
  padding: 20px
}


.example-container > * {
  width: 100%;
}
