<div class="back">
  <a routerLink="/contacts" class="btn btn-primary"><i class="material-icons">keyboard_backspace</i></a>
</div>
<div class="container">
  <mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2 class="center">{{ h1Text }}</h2>
    </mat-card-title>
  </mat-card-header>
    <mat-card-content>
  <form
        novalidate
        (ngSubmit)="submit()"
        #userForm="ngForm"
      >
    <div class="example-container">

  <mat-form-field >

    <input matInput
            placeholder="Nombre"
            type="text"
            id="name"
            name="name"
            required
            [(ngModel)]="contact.name"
            #name="ngModel">
  </mat-form-field>

  <mat-form-field >
    <input matInput placeholder="Empresa"
            type="text"
            id="company"
            name="company"
            required
            [(ngModel)]="contact.company"
            #name="ngModel">
  </mat-form-field>

  <mat-form-field >
    <input matInput placeholder="Email"
            type="text"
            id="email"
            name="email"
            required
            [(ngModel)]="contact.email"
            #lastname="ngModel">
    </mat-form-field>

    <mat-form-field >
      <input matInput placeholder="Telefono"
              type="text"
              id="telephone"
              name="telephone"
              required
              [(ngModel)]="contact.telephone"
              #name="ngModel">
    </mat-form-field>

    <mat-form-field >
      <input matInput placeholder="Notas"
            type="text"
            id="notes"
            name="notes"
            required
            [(ngModel)]="contact.notes"
            #lastname="ngModel">
    </mat-form-field>

        <mat-card-actions>

    <button
      mat-button color="primary"
          [disabled]="!userForm.valid"
          class="btn btn-block btn-primary"
          type="submit">
          {{submitText}}
    </button>

    </mat-card-actions>
        </div>

    </form>
      </mat-card-content>

</mat-card>
</div>
