<div class="row" *ngIf="contact">
  <div class="col-md-6 offset-md-3">
    <app-contact-form
      [h1Text]="'Editar Usuario'"
      [contact]="contact"
      [submitText]="'Editar'"
      (onSubmit)="updateContact($event)"
    >

    </app-contact-form>
  </div>
</div>
